doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Staff Directory
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
        style.
            table.ui.celled img { display: inline-block; }
            footer { margin: 35px 0 15px 0; text-align: center }
    body 
        main#main
        h1.ui.center.aligned.header Staff Directory
        .ui.container 
            table.ui.celled.table.center.alilgned  
                thead 
                    tr 
                        th Avatar
                        th First Name
                        th Last Name
                        th Email
                        th Phone
                        th City
                tbody 
                    each employee in employ
